option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "app.settings.prod"
    PYTHONPATH: "/opt/python/current/app/contractmanager:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"


container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
