{% extends 'frontbase.html' %}

{% block title %} 
<title>Baldur Healthcare - About Us</title>
{% endblock %}

{% block head %}
<style type="text/css">

.philosophy h2{
    font-size: 16px;
    font-weight: 400;
}

.philosophy .fa{
    color: #1AB394;
}

.philosophy p{
    text-align: justify;
    font-size: 14px!important;
}

.aboutus-text{
    font-size: 16px!important;
}

.aboutus-head-text{
    font-weight: bold!important;
    text-transform: uppercase;
    font-size: 16px!important;
}

.aboutus-head-text-lg{
    font-weight: bold!important;
    text-transform: uppercase;
    font-size: 22px!important;
}

.lg-hr{
    margin: 80px 0px;
}

</style>

{% endblock %}



{% block content %}

<div class="carousel front-header">

    <div class="carousel-inner">
        <div class="item active front-header">
            <div class="container">
                <div class="carousel-caption">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>

</div>
 

<section class="features">
    <div class="container">

        <div style='padding:100px 0px 50px 0px'>

            <img src="{{ STATIC_URL }}img/logo.png">

        </div>


        <div class="row m-b-lg m-t-lg">
            <div class="col-lg-12">
                <h1 class='aboutus-head-text'><i class="fa fa-heartbeat" style='color:#921C1C'></i>  Our Goal</h1>
            </div>

            <div class="col-lg-12 aboutus-text wow fadeInLeft">
                Our goal is to provide the #1 healthcare compliance software in the market and to continually get better!  We truly believe that by helping others succeed, Baldur will succeed as well.
            </div>
        </div>

        <div class="row m-b-lg m-t-lg">
            <div class="col-lg-12">
                <h1 class='aboutus-head-text'><i class="icon ion-ios-medkit" style='color:#921C1C'></i>  How We Got Started</h1>
            </div>

            <div class="col-lg-12 aboutus-text wow fadeInRight">
                Baldur Healthcare was started by a healthcare professional working on a physician arrangements compliance project looking for software that fit all of the projects needs.   While a few solutions existed in the market, there were none that covered all of the projects needs while also being affordable, user friendly, and easy to use.  Baldur Healthcare was born out of this to provide a full package of healthcare compliance software that not only solved all of the compliance issues, but did so at a much lower cost and with better results.  
            </div>
        </div>



<hr class='lg-hr'>




        <div class="row m-b-lg">
            <div class="col-lg-12">
                <h1 class='aboutus-head-text-lg'>Our Philosophy</h1>
                <p>What we believe in</p>

            </div>
        </div>

    <div class="row">
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-circle-o"></i> Simplicity</h2>
            <p>We strive to make everything we do as simple as possible for our customers.  Our products are designed to be user friendly—we believe that the best software is software that people will enjoy using.  By keeping things simple and intuitive, users can achieve more in less time.  We truly carry this philosophy through everything we do- from design, to pricing, to contract negotiation.</p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-lock"></i> Security</h2>
            <p>Our phone and web applications are built with the highest security standards in mind. As a HIPAA compliant SAAS solution, we offer 256bit SSL end to end security.  By delivering all of our data in a secure way, you don’t have to worry about data breaches and can sleep peacefully at night. </p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-database"></i> Cutting Edge Technology</h2>
            <p>When it comes down to it, we are a technology company. We strive to provide the best tech product on the market by utilizing up to date technologies. This also means our software is fast, scalable, and backedup.  In fact, we built Baldur Health Care on Amazon AWS – a service that both NASA and Netflix use. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-usd"></i> Cost Effectiveness</h2>
            <p>The current state of healthcare is one filled with cost pressures.  We provide a top notch healthcare compliance solution that can fit in any budget.</p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-user-md"></i> 100% Healthcare Focus</h2>
            <p>While other solutions may be able to solve similar problems after costly, extensive customization, our solution is built 100% for healthcare and is HIPAA compliant.</p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-puzzle-piece"></i> Adaptibility</h2>
            <p>Software moves fast, and Baldur Healthcare is built on the latest technology.  Utilizing the latest software technologies, we can quickly adapt to changing customer needs and release new features.</p>
        </div>
    </div>

        <div class='row text-center m-b-lg p-lg-text m-t-lg'>
            Like what we have to say?  Reach out to us <a href="{% url 'contact' %}">here</a>
        </div>





<hr class='lg-hr'>

        <div class="row">
            <div class="col-lg-12">
                <h1 class='aboutus-head-text-lg'>Focus on Security</h1>
                <p>We make security a top priority</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>HIPAA Compliant</h2>
                <i class="fa fa-lock big-icon pull-left"></i>
                <p>Our SAAS service complies with all HIPAA standards.  That means you don't have to worry about any healthcare regulation</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>256 Bit End to End SSL Encryption</h2>
                <i class="fa fa-bolt big-icon pull-left"></i>
                <p>We transport all data in the most secure environment possible -- always over HTTPS so no one can see your data but you</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>100% Developed in US</h2>
                <i class="fa fa-globe big-icon pull-left"></i>
                <p>All of our development is done by developers based in the US.  You don't need to worry about security breaches from abroad</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Penetration Tested</h2>
                <i class="fa fa-users big-icon pull-left"></i>
                <p>We are constantly stress testing our app and finding ways that hackers could attempt to break in</p>
            </div>
        </div>














    </div>

</section>







{% endblock %}





{% block scripts %}
<script>

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

    {% endblock %}


