{% extends 'frontbase.html' %}

{% block title %} 
<title>Baldur Healthcare - About Us</title>
{% endblock %}

{% block head %}
<style type="text/css">

.philosophy h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #D4D4D4;
}

.philosophy .fa{
    color: #1AB394;
}

.philosophy p{
    text-align: justify;
    font-size: 14px!important;
}

.aboutus-text{
    font-size: 16px!important;
}

.aboutus-head-text{
    font-weight: bold!important;
    text-transform: uppercase;
    font-size: 16px!important;
}

.aboutus-head-text-lg{
    font-weight: bold!important;
    text-transform: uppercase;
    font-size: 22px!important;
}

.lg-hr{
    margin: 80px 0px;
}

</style>

{% endblock %}



{% block content %}

<div class="front-header"> 
    <div class="carousel-inner">
        <div class="container">
            <div class="carousel-caption">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
 

<section class="features" style='padding-bottom:300px'>
    <div class="container">


        <div class="row m-b-lg" style='padding-top:100px'>

<!-- 
            <div class="col-lg-12 big-text" style='padding-bottom:60px'>
                Modern Physician Arrangement Software
            </div> -->

            <div class="col-xs-8 wow fadeInLeft">
                <h1 class=''></i>  Our Goal</h1>
                <!-- <h1 class=''><i class="fa fa-heartbeat" style='color:#921C1C'></i>  Our Goal</h1> -->
                <p>
                    Our goal is to provide the #1 physician arrangement and healthcare compliance software in the market and to continually improve what we offer!
                </p>    

                <h1> How We Got Started</h1>
                <!-- <h1 class='aboutus-head-text'><i class="icon ion-ios-medkit" style='color:#921C1C'></i>  How We Got Started</h1> -->

                <p>Baldur Health Care was started by a health care professional working on a physician arrangements compliance project looking for software that fit all of the projects needs.   While a few solutions existed in the market, there were none that covered all of the requirements while also being affordable, modern, and easy to use.  Baldur Health Care was born out of this frustration to provide a full package of health care compliance software that not only solved all of the compliance issues, but did so at a much lower cost, and with better results.  </p>
            </div>
        </div>


<hr class='lg-hr'>



        <div class="row m-b-lg">
            <div class="col-xs-12 text-center">
                <h1 class='aboutus-head-text-lg'>Our Philosophy</h1>
                <p>What we believe in</p>

            </div>
        </div>

    <div class="row">

        <div class="col-xs-6">
                <h3>Simplicity</h3>
                <p>We strive to make everything we do as simple as possible for our customers.  Our products are designed to be user friendly — we believe that the best software is software that people will enjoy using.</p>
        </div>

        <div class="col-xs-6">
                <h3>Security</h3>
                <p>Our phone and web applications are built with the highest security standards in mind. We worry about security so you don't have to.</p>
        </div>

    </div>

    <div class="row" style='padding-top:20px'>

        <div class="col-xs-6">
                <h3>Cost Effectiveness</h3>
                <p>The current state of healthcare is one filled with cost pressures.  We provide a top notch healthcare compliance solution that can fit in any budget.</p>
        </div>

        <div class="col-xs-6">
                <h3>Cutting Edge Technology</h3>
                <p>When it comes down to it, we are a technology company.  This also means our software is fast, scalable, and backed up.  In fact, we built Baldur Health Care on Amazon AWS — a service that both NASA and Netflix use ot manage their services.</p>
        </div>

    </div>

    <div class="row" style='padding-top:20px'>

        <div class="col-xs-6">
                <h3>100% Healthcare Focus</h3>
                <p>While other solutions may be able to solve similar problems after costly, extensive customization, our solution is built 100% for healthcare and is HIPAA compliant.</p>
        </div>

        <div class="col-xs-6">
                <h3>Adaptibility</h3>
                <p>Software moves fast, and Baldur Healthcare is built on the latest technology.  Utilizing these technologies allows us to quickly adapt to changing customer needs.</p>
        </div>

    </div>

        <div class='row text-center m-b-lg p-lg-text' style='margin-top:100px'>
            Like what we have to say?  Reach out to us <a href="{% url 'contact' %}">here</a>
        </div>





<hr class='lg-hr'>

        <div class="row">
            <div class="col-lg-12">
                <h1 class='aboutus-head-text-lg'>Focus on Security</h1>
                <p>We make security a top priority</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>HIPAA Compliant</h2>
                <i class="fa fa-lock big-icon pull-left"></i>
                <p>Our SAAS service complies with all HIPAA standards.  We focus on healthcare and know the in's and out's of securing healthcare data.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>256 Bit End to End SSL Encryption</h2>
                <i class="fa fa-bolt big-icon pull-left"></i>
                <p>We transport all data in the most secure environment possible -- always over HTTPS so no one can see your data but you</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>100% Developed in US</h2>
                <i class="fa fa-globe big-icon pull-left"></i>
                <p>All of our sotware development is done by software engineers based in the US.  No need to worry about security breaches from abroad.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Penetration Tested</h2>
                <i class="fa fa-users big-icon pull-left"></i>
                <p>We are constantly stress testing our app and finding ways that hackers could attempt to break in.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>User level security</h2>
                <i class="fa fa-user big-icon pull-left"></i>
                <p>Control what each user is able to access to restrict the information available to view and edit.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Browser Security</h2>
                <i class="fa fa-laptop big-icon pull-left"></i>
                <p>We implement features such as automatic logout and login tracking to ensure a safe browser experience.</p>
            </div>
        </div>

    </div>

</section>







{% endblock %}





{% block scripts %}
<script>

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

    {% endblock %}


