{% extends 'frontbase.html' %}



{% block head %}
<style type="text/css">

.philosophy h2{
    font-weight: bold;
    color: #1AB394;
    font-size: 20px;
    text-align: center;
}

</style>

{% endblock %}



{% block content %}

<div class="carousel front-header">

    <div class="carousel-inner">
        <div class="item active front-header">
            <div class="container">
                <div class="carousel-caption">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>

</div>
 

<section class="features">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Goal</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 features-text wow fadeInLeft p-lg-text">
                <i class="fa fa-heartbeat pull-left" style='font-size:5em;color:#921C1C'></i>
            </div>

            <div class="col-lg-10 features-text wow fadeInLeft p-lg-text">
                Our goal is to provide the #1 healthcare compliance software in the market and to continually get better!  We truly believe that by helping other companies succeed, our company will succeed as well.
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>How We Got Started</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-10 features-text wow fadeInRight p-lg-text">
                Baldur Healthcare was started by a healthcare professional working on a compliance project looking for software that fit all of the projects needs.   While a few solutions existed in the market, there were none that covered all of the projects needs while also being affordable, user friendly, and easy to use.  Baldur Healthcare was born out of this to provide a full package of healthcare compliance software that not only solved all of the compliance issues, but did so at a lower cost and with better results.  
            </div>
            <div class="col-lg-2 features-text wow fadeInLeft p-lg-text" style='margin-top:0px'>
                <i class="icon ion-ios-medkit" style='font-size:6em;color:#921C1C'></i>
            </div>

        </div>

    </div>

</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Philosophy</h1>
            </div>
        </div>

    <div class="row" style='padding:40px 0px'>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-circle-o"></i> Simplicity</h2>
            <p>We strive to make everything we do as simple as possible for our customers.  Our products are designed to be as user friendly as possible—we believe that the best software is software that people will enjoy using.  By keeping things simple and intuitive, users of our products can get more done!  We truly carry this philosophy through everything we do- from design, to pricing, to contract negotiation.</p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-lock"></i> Security</h2>
            <p>Our phone and web applications are built with the highest security standards in mind. As a HIPAA compliant SAAS solution, we offer 256bit SSL end to end security.  By delivering all of our data in a secure way, you don’t have to worry about data breaches and can sleep peacefully at night. </p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-database"></i> Cutting Edge Technology</h2>
            <p>When it comes down to it, we are a technology company. We strive to provide the best tech product on the market by utilizing up to date technologies. This also means our software is fast, scalable, and backedup.  In fact, we built Baldur Healthcare on Amazon AWS – a service that both NASA and Netflix use. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-usd"></i> Cost Effective</h2>
            <p>The current state of healthcare is one filled with cost pressures.  We provide a top notch healthcare compliance solution that can fit in any budget.</p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-user-md"></i> 100% Healthcare Focused</h2>
            <p>While other solutions may be able to solve similar problems after costly, extensive customization, our solution is built 100% for healthcare and is HIPAA compliant.</p>
        </div>
        <div class="col-sm-4 philosophy">
            <h2><i class="fa fa-puzzle-piece"></i> Adaptive</h2>
            <p>Software moves fast, and Baldur Healthcare is built on the latest technology.  With the latest technology, we can quickly adapt to changing customer needs and quickly release new features.</p>
        </div>
    </div>

        <div class='row features-block text-center m-b-lg p-lg-text'>
            Like what we have to say?  Reach out to us <a href="{% url 'contact' %}">here</a>
        </div>

    </div>
</section>


<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Focus on Security</h1>
                <p>We make security a top priority</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>HIPAA Compliant</h2>
                <i class="fa fa-lock big-icon pull-right"></i>
                <p>Our SAAS service complies with all HIPAA standards.  That means you don't have to worry about any healthcare regulation</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>256 Bit End to End SSL Encryption</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>We transport all data in the most secure environment possible -- always over HTTPS so no one can see your data but you</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>100% Developed in US</h2>
                <i class="fa fa-globe big-icon pull-right"></i>
                <p>All of our development is done by developers based in the US.  You don't need to worry about security breaches from abroad</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Penetration Tested</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>We are constantly stress testing our app and finding ways that hackers could attempt to break in</p>
            </div>
        </div>
    </div>

</section>


{% endblock %}





{% block scripts %}
<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

    {% endblock %}


