{% extends 'base.html' %}


    {% block head %}

    <style type="text/css">



    </style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote-bs3.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">


<style type="text/css">

#tagarea{
    padding: 20px;
}

</style>
    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Add A Template</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Templates</a>
                        </li>
                        <li>
                            <a>Add</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-9">

                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        
                        <form method='post' id='new_template_form'> {% csrf_token %}

                                {{form.non_field_errors}}

                                <div id='input_area'>
                                    {{form.name.errors}}
                                    <h3>Template Name:</h3>
                                    {{form.name}}
                                    <br>

                                    {{form.short_desc.erros}}
                                    <h3>Template Short Description:</h3>
                                    {{form.short_desc}}
                                    <br>

                                    {{form.html}}
                                    {{form.add_on}}
                                    <div class="i-checks">
                                                    <label> <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Base Contract</label>
                                                    <label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Add On Template</label>

                                    </div>
                                </div>

                                <br>

                                {{form.html.errors}}
                                <h3>Template Content:</h3>
                                <div class="summernote">

                                </div>

                                <br>
                                <h3>Inputs:</h3>
                                <div id='tagarea'></div>

                                <button class='btn btn-danger btn-lrg' type='submit' name='add_template'>Create New Template</button>
                                <!-- <button class='btn' onclick="go()">Render Template</button> -->


                        </form>


                    </div>
            </div>
            </div>
            <div class="col-lg-3">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Templates</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">



                        <div class="table-responsive">
                            <table class="table table-hover " >
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for t in templates %}
                                <tr>
                                    <td>
                                        <div class="i-checks">
                                            <input type="checkbox" >
                                        </div>
                                    </td>
                                    <td>{{t.name}}</td>
                                    <td><span class="btn btn-xs btn-primary table-btn">View</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>

                        <button class='btn btn-danger'>Add to Template</button>



                    </div>
                </div>

            </div>
        </div>



        </div>


    {% endblock %}

    {% block scripts %}

    <!-- Page-Level Scripts -->
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script>

        $(document).ready(function() {
            $('.dataTables-example').DataTable({
            });

        });


        $(document).ready(function(){

            $('.summernote').summernote();

       });
        var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });








// Template tag parsing and rendering of inputs and highlighting data

    function parseTemplateTags() {
        s = $('.note-editable').html();
        var tags = s.match(/{\{\s?\w+\s?}\}/g);
        return tags;
    };

    function stripTags(tags) {
        cleanTags = [];
        tags.forEach(function(tag){
            tag = tag.replace(/[{}]/g,'');
            tag = tag.trim();
            cleanTags.push(tag);
        })

        return cleanTags;
    };

    function createInputs(cleantags) {

        $('.useraddedinput').remove();
        
        cleantags.forEach( function(tag){
            var tag_id = 'id_'+tag;
            var label_html = "<h3 class='useraddedinput'>"+ tag +"</h3>";
            var input_html = "<input type='text' class='form-control useraddedinput' id=" + tag_id + ">";

            var htmlToAdd = label_html + input_html;
            $('#input_area').append(htmlToAdd);
        })
    };

    function startit(){
        // these create inputs based on the tags
        var tags = parseTemplateTags();
        var cleanTags = stripTags(tags);
        createInputs(cleanTags);
    };







    function renderTags(tags){
        tags.forEach( function(element){
            var htmlToAdd = "<span class='label' style='display:inline-block'>"+element+"</span>";
            $('#tagarea').append(htmlToAdd);
        });
    };

    function highlightTags() {
        var highlightedtags = s.replace(/{\{\s?\w+\s?}\}/g,"<b>$&</b>");
        $('.note-editable').html(highlightedtags);
    };

    function go(){
        var tags = parseTemplateTags();
        highlightTags();
        renderTags(tags);
    };





$('#new_template_form').submit(function() {
    // do these right before form submit
    
    // copies from summernote area into form
    function copySummerNoteToTextArea() {
        var s = $('.note-editable').html();
        $('#id_html').val(s);
    };


    // sets addon value from other (better looking) buttons
    function setAddOn() {
       if ($('#optionsRadios2').is(':checked')){
            $("#id_add_on").prop("checked", true);
       }
    };


    copySummerNoteToTextArea();
    setAddOn();

    return true
})


//  !!!!!! NEED TO COPY what is in hidden html area into SUMMERNOT DIV ON PAGE LOAD

// NEED to ALERT when tag is not in proper form
// need to make modal work for viewing templates (w/ ajax? or just load all?)
// need to remove "go" and make this work on keyup when typing.  Need to add tags to array and only add
// to tags area if it was not in array before (or delete all and reload)
// make sure labels load without braces 

    </script>
    {% endblock %}


