{% extends 'base.html' %}


    {% block head %}

    <style type="text/css">



    </style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote-bs3.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">


<style type="text/css">

#tagarea{
    padding: 20px;
}

</style>
    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Add A Template</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Templates</a>
                        </li>
                        <li>
                            <a>Add</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-9">

                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                    <!-- <form method=""> -->
                        
                        <h3>Template Name:</h3>
                        <input type='text' class='form-control'>
                        <br>


                        <div class="i-checks">
                                        <label> <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Base Contract</label>
                                        <label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Add On Template</label>

                        </div>
                        <br>

                        <h3>Template Content:</h3>
                        <div class="summernote">
                            <h3>Lorem Ipsum is simply</h3>
                            dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            <br/>
                            <br/>
                            <ul>
                                <li>Remaining essentially unchanged</li>
                                <li>Make a type specimen book</li>
                                <li>Unknown printer</li>
                            </ul>
                        </div>

                        <br>
                        <h3>Inputs:</h3>
                        <div id='tagarea'></div>

                        <button class='btn btn-danger btn-lrg'>Create New Template</button>
                        <button class='btn' onclick="go()">Render Template</button>

                    <!-- </form> -->



                    </div>
            </div>
            </div>
            <div class="col-lg-3">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Templates</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-hover " >
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Preview</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="i-checks">
                                        <input type="checkbox" >
                                    </div>
                                </td>
                                <td>Template 1
                                </td>
                                <td>1/1/2009</td>
                                <td><span class="btn btn-xs btn-primary table-btn">View</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="i-checks">
                                        <input type="checkbox" >
                                    </div>
                                </td>
                                <td>Template 1
                                </td>
                                <td>1/1/2009</td>
                                <td><span class="btn btn-xs btn-primary table-btn">View</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="i-checks">
                                        <input type="checkbox" >
                                    </div>
                                </td>
                                <td>Template 1
                                </td>
                                <td>1/1/2009</td>
                                <td><span class="btn btn-xs btn-primary table-btn">View</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="i-checks">
                                        <input type="checkbox" >
                                    </div>
                                </td>
                                <td>Template 1
                                </td>
                                <td>1/1/2009</td>
                                <td><span class="btn btn-xs btn-primary table-btn">View</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="i-checks">
                                        <input type="checkbox" >
                                    </div>
                                </td>
                                <td>Template 1
                                </td>
                                <td>1/1/2009</td>
                                <td><span class="btn btn-xs btn-primary table-btn">View</span></td>
                            </tr>
                            </tbody>
                            </table>
                        </div>



                        <button class='btn btn-lg'>Add to Template Content</button>
                    </div>
                </div>

            </div>
        </div>



        </div>


    {% endblock %}

    {% block scripts %}

    <!-- Page-Level Scripts -->
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script>

        $(document).ready(function() {
            $('.dataTables-example').DataTable({
            });

        });


        $(document).ready(function(){

            $('.summernote').summernote();

       });
        var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });








// Template tag parsing and rendering of inputs and highlighting data

    function parseTemplateTags() {
        s = $('.note-editable').html();
        var tags = s.match(/{\{\s?\w+\s?}\}/g);
        return tags;
    };

    function renderTags(tags){
        tags.forEach( function(element){
            var htmltoadd = "<span class='label' style='display:inline-block'>"+element+"</span>";
            $('#tagarea').append(htmltoadd);
        });
    };

    function highlightTags() {
        var highlightedtags = s.replace(/{\{\s?\w+\s?}\}/g,"<b>$&</b>");
        $('.note-editable').html(highlightedtags);
    };

    function go(){
        var tags = parseTemplateTags();
        highlightTags();
        renderTags(tags);
    };


// need to remove "go" and make this work on keyup when typing.  Need to add tags to array and only add
// to tags area if it was not in array before (or delete all and reload)
// make sure labels load without braces {{}}

    </script>
    {% endblock %}


