{% extends 'base.html' %}


    {% block head %}

    <style type="text/css">



    </style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote-bs3.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">


<style type="text/css">

#tagarea{
    padding: 20px;
}

.input-box{
    padding-top: 20px;
    padding-bottom: 20px;
}

#timeline-box{
    margin-left: 100px;
    margin-right: 100px;
}

.rm-wf-btn{
    background: none;
    border: none;
    color: #FF7878;
    float: right;
}

.rm-wf-btn:focus{
    border: 0;
    outline: none;
}


</style>
    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Add A Workflow</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a href="{% url 'workflows' %}">Workflow</a>
                        </li>
                        <li>
                            <a>Add</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-8">



                <form method='post'> {% csrf_token %}

                    <div class="ibox float-e-margins">
                        
                        <div class="ibox-content" id="ibox-content">

                            <div class='input-box'>
                                <h3>Workflow Name:</h3>
                                {{wfform.name.errors}}
                                {{wfform.name}}
                            </div>

                            <div>
                                <button class='btn' id='add_user' type='button'>+ User</button>
                                <button class='btn' id='add_group' type='button'>+ Group</button>
                            </div>



                            <div id='timeline-box'>
                                <div id="vertical-timeline" class="vertical-container dark-timeline">
           
                                </div>
                            </div>



                            <button class='btn btn-lg btn-primary' name='add_workflow' type='submit'>Create Workflow</button>
                        </div>
                        <!-- end ibox content -->

                    </div>

                </form>



                <span style='display:none' id='add_user_input_id'>
                    {{wfitemform.user}}
                </span>

                <span style='display:none' id='add_group_input_id'>
                    {{wfitemform.team}}
                </span>  



            </div>
            <!-- end col lg 8 -->

<!--             <div class="col-lg-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Groups</h5>
                    </div>
                    <div class="ibox-content">

                        <div id="nestable-menu">
                            <button type="button" data-action="expand-all" class="btn btn-white btn-sm">Expand All</button>
                            <button type="button" data-action="collapse-all" class="btn btn-white btn-sm">Collapse All</button>
                        </div>


                        <div class="dd" id="nestable2">
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="1">
                                        <div class="dd-handle">
                                            <span class="label label-info"><i class="fa fa-users"></i></span> Cras ornare tristique.
                                        </div>
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="2">
                                                <div class="dd-handle">
                                                    <span class="label label-info"><i class="fa fa-cog"></i></span> Vivamus vestibulum nulla nec ante.
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="3">
                                                <div class="dd-handle">
                                                    <span class="label label-info"><i class="fa fa-bolt"></i></span> Nunc dignissim risus id metus.
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">
                                                    <span class="label label-info"><i class="fa fa-laptop"></i></span> Vestibulum commodo
                                                </div>
                                            </li>
                                        </ol>
                                    </li>

                                    <li class="dd-item" data-id="5">
                                        <div class="dd-handle">
                                            <span class="label label-warning"><i class="fa fa-users"></i></span> Integer vitae libero.
                                        </div>
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="6">
                                                <div class="dd-handle">
                                                    <span class="label label-warning"><i class="fa fa-users"></i></span> Nam convallis pellentesque nisl.
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="7">
                                                <div class="dd-handle">
                                                    <span class="label label-warning"><i class="fa fa-bomb"></i></span> Vivamus molestie gravida turpis
                                                </div>
                                            </li>
                                            <li class="dd-item" data-id="8">
                                                <div class="dd-handle">
                                                    <span class="label label-warning"><i class="fa fa-child"></i></span> Ut aliquam sollicitudin leo.
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>

                    </div>
                </div>

            </div> -->
        </div>



        </div>


    {% endblock %}

    {% block scripts %}

    <!-- Page-Level Scripts -->
    <script type="text/javascript" src='{{STATIC_URL}}js/jquery.nestable.js'></script>


    <script>

         $(document).ready(function(){

             var updateOutput = function (e) {
                 var list = e.length ? e : $(e.target),
                         output = list.data('output');
                 if (window.JSON) {
                     output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
                 } else {
                     output.val('JSON browser support required.');
                 }
             };


             // activate Nestable for list 2
             $('#nestable2').nestable({
                 group: 1
             }).on('change', updateOutput);

             // output initial serialised data
             updateOutput($('#nestable2').data('output', $('#nestable2-output')));

             $('#nestable-menu').on('click', function (e) {
                 var target = $(e.target),
                         action = target.data('action');
                 if (action === 'expand-all') {
                     $('.dd').nestable('expandAll');
                 }
                 if (action === 'collapse-all') {
                     $('.dd').nestable('collapseAll');
                 }
             });
         });






             $('#add_user').on('click', function (e) {
                e.preventDefault();
                var add_input = $('#add_user_input_id').html();
                var html_to_add = '<div class="vertical-timeline-block"> \
                                        <div class="vertical-timeline-icon blue-bg">\
                                            <i class="fa fa-arrow-circle-down"></i>\
                                        </div>\
                                        <div class="vertical-timeline-content">' + add_input + 
                                        '<span class="vertical-date">\
                                                <small>User</small>\
                                        </span>\
                                        <input type="hidden" name="wf_type_order" value="user" />\
                                        <span><button class="rm-wf-btn">Remove</button></span>\
                                        </div>\
                                    </div>';

                $('#vertical-timeline').append(html_to_add);

             });



             $('#add_group').on('click', function (e) {
                e.preventDefault();
                var add_input = $('#add_group_input_id').html();
                var html_to_add = '<div class="vertical-timeline-block"> \
                                        <div class="vertical-timeline-icon navy-bg">\
                                            <i class="fa fa-arrow-circle-down"></i>\
                                        </div>\
                                        <div class="vertical-timeline-content">' + add_input + 
                                        '<span class="vertical-date">\
                                                <small>Group</small>\
                                        </span>\
                                        <input type="hidden" name="wf_type_order" value="group" />\
                                        <span><button class="rm-wf-btn"type="button">Remove</button></span>\
                                        </div>\
                                    </div>';

                $('#vertical-timeline').append(html_to_add);

             });


            $( document ).on( 'click', '.rm-wf-btn', function(e) {
                e.preventDefault();
                $( e.target ).closest(".vertical-timeline-block").remove();
            });

            

    </script>
    {% endblock %}


