{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">
    <style type="text/css">

    .alerts-btn{
        margin-bottom: 0px;
    }

    .alert-group{
        padding: 15px;
    }

    </style>

    {% endblock %}



    {% block content %} 

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Manage Alerts</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Alerts</a>
                        </li>
                        <li>
                            <a>Manage</a>
                        </li>
                    </ol>
                </div>
            </div>


        <div class='wrapper wrapper-content animated fadeInRight'
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                           
                            <h2>Alert Groups</h2>

                            <div class='alert-group'>
                                <h3>Medical Directors - All Sites      
                                    <span class="label label-primary">Subscribed</span>
                                </h3>
                                <div>Alert Types: Expiration, Renewal, Unsigned</div>
                                <div>Sites: Christ Medical Center, Lutheran General, Illinois Masonic...</div>

                            </div>
                            <div class='alert-group'>
                                <h3>Christ Medical Center - All Alerts     
                                    <span class="label label-primary">Subscribed</span>
                                </h3>
                                <div>Alert Types: Expiration, Renewal, Unsigned</div>
                                <div>Sites: Christ Medical Center</div>

                            </div>
                            <div class='alert-group'>
                                <h3>All Expirations      
                                    <span class="label label-primary">Subscribed</span>
                                </h3>
                                <div>Alert Types: Expiration</div>
                                <div>Sites: All</div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script>

        $(document).ready(function() {
            $('.dataTables-example').DataTable({
            });

        });

       $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });


    </script>
    {% endblock %}
