{% extends 'base.html' %}


    {% block head %}

    <style type="text/css">

    .ibox i{
        font-size: 5em;
    }

    .ibox{
        text-align: center;
    }

    .question-icon{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1em!important;
    }

    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Analysis</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'index' %}">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Analyze</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">



            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>Analysis</h1>
                        <p>Analyze the data you own</p>
                    </div>
                </div>

            </div>




                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-hourglass-half'></i>
                                <h2><a href="{% url 'analytics_expiration' %}">Expiration Analysis </a></h2>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>

                                <i class='fa fa-files-o'></i>
                                <h2><a href="{% url 'allcontracts' %}">Contract Exploration </a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-money'></i>
                                <h2><a href="{% url 'analytics_dollar_value' %}">Dollar Value Analysis </a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-users'></i>
                                <h2><a href="{% url 'analytics_physician_compare' %}">Physician Compare</a></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-bar-chart'></i>
                                <h2><a href="{% url 'analytics_service_lines' %}">Service Line Analysis</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-user-md'></i>
                                <h2><a href="{% url 'allphysicians' %}">Physician View</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-dashboard'></i>
                                <h2><a href="{% url 'analytics_snapshot' %}">System Snapshot </a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox">
                            <div class="ibox-content">
                                <i class='fa fa-question question-icon' data-container="body" data-toggle="popover" data-trigger='click' data-placement="bottom" data-content="An analysis of contract expirations"></i>
                                <i class='fa fa-hospital-o'></i>
                                <h2><a href="{% url 'analytics_sites' %}">Site Analysis</a></h2>
                            </div>
                        </div>
                    </div>
                </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->

    {% endblock %}
