{% extends 'base.html' %}


    {% block head %}

    <style type="text/css">



    </style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote-bs3.min.css">
    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>{{latest_contract.contract.name}}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Contracts</a>
                        </li>
                        <li>
                            <a>{{latest_contract.contract.name}}</a>
                        </li>
                    <span class='pull-right'>Last Updated {{latest_contract.created_at}}</span>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-9">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <h2>Contract with {{latest_contract.contract.physician}}</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt> <dd><span class="label label-primary">{{latest_contract.contract.status}}</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <dl class="dl-horizontal">

                                        <dt>Current Holder:</dt> <dd>{{latest_contract.current_team}} ({{latest_contract.current_user}})</dd>
                                        <dt>Amount:</dt> <dd>  $20,000</dd>
                                        <dt>Contract Type:</dt> <dd>{{latest_contract.contract.contract_type}}</dd>
                                        <dt>Version:</dt> <dd>  {{latest_contract.version}} </dd>
                                    </dl>
                                </div>
                                <div class="col-lg-4" id="cluster_info">
                                    <dl class="dl-horizontal">

                                        <dt>Last Updated:</dt> <dd>{{latest_contract.created_at}}</dd>
                                        <dt>Created:</dt> <dd> {{latest_contract.contract.created_at}}</dd>
                                        <dt>Start Date:</dt> <dd> {{latest_contract.start_date}}</dd>
                                        <dt>End Date:</dt> <dd> {{latest_contract.end_date}}</dd>
                                        <dt>Signed:</dt> <dd> <i class="fa fa-check text-navy"></i> 8/16/2014 </dd>
                                        
                                    </dl>
                                </div>
                                <div class="col-lg-4" id="cluster_info">
                                    <dl class="dl-horizontal">

                                        <dt>Last Updated:</dt> <dd>8/162014 12:15:57</dd>
                                        <dt>Created:</dt> <dd>  7/17/2014 23:36:57 </dd>
                                        <dt>Expires:</dt> <dd>  7/17/2016 23:36:57 </dd>
                                        <dt>Signed:</dt> <dd>  yes </dd>
                                        
                                    </dl>
                                </div>





                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>Approved By:</dt>
                                        <dd>
                                            Finance, Compliance
                                        </dd>
                                    </dl>
                                </div>
                            </div>
<!--                             <div class="row m-t-sm">
                                <div class="col-lg-12">
                                <div class="panel blank-panel">


                                <div class="panel-body">



                                </div>

                                </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
            </div>
            <div class="col-lg-3">
                <div class="wrapper wrapper-content">
                    <button class='btn btn-lg btn-block btn-danger' style='height:75px'> 
                        <span class='fa fa-file-pdf-o'></span>
                        Download Current PDF Contract
                    </button>
                    <button class='btn btn-lg btn-block' style='border:5px dotted;height:100px'> 
                        <span class='fa fa-file-pdf-o'></span>
                        Upload New PDF
                    </button>

                  
                </div>
            </div>
        </div>








          <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Current Contract</h5>
                            <a id="edit" class="btn btn-primary btn-xs m-l-sm" href="{% url 'editcontract' 1 %}" type="button">Edit</a>
                            <button id="save" class="btn btn-danger pull-right btn-xs" type="button"><span class='fa fa-file-pdf-o'></span>  Export to PDF</button>
                        </div>
                        <div class="ibox-content no-padding">

                            <div class="click2edit wrapper p-md">
                               
                                {{latest_contract.html_output}}


                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Past Versions</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example table-conden" >
                    <thead>
                    <tr>
                        <th></th>
                        <th>Change Made</th>
                        <th>Version</th>
                        <th>Last Edited</th>
                        <th>Edited By</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in contract_versions %}
                    <tr>
                        <td>
                            <span class='btn btn-xs btn-primary table-btn'>View</span>
                            <a class='btn btn-xs btn-warning table-btn' href="{% url 'diffcontracts' 1 2 %}">Differences</a>
                        </td>
                        <td>{{c.change_made}}</td>
                        <td>{{c.version}}</td>
                        <td>{{c.created_at}}
                        </td>
                        <td>{{c.current_user}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>

                    </table>
                        </div>

                    </div>
                </div>
            </div>



            </div>
        </div>


    {% endblock %}

    {% block scripts %}

    <!-- Page-Level Scripts -->
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js'></script>
    <script>

        $(document).ready(function() {
            $('.dataTables-example').DataTable({
            });

        });


        $(document).ready(function(){

            $('.summernote').summernote();

       });
        var edit = function() {
            $('.click2edit').summernote({focus: true});
        };
        var save = function() {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };

    </script>
    {% endblock %}
