{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">
    <style type="text/css">

    .group-data{
        color: #1ab394;
    }
    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Contract Difference</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Contracts</a>
                        </li>
                        <li>
                            <a>Difference</a>
                        </li>
                    </ol>
                </div>
            </div>


        <div class='wrapper wrapper-content animated fadeInRight'>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
<!--                         <div class="ibox-title">
                            <h5>Diff plugin</h5>
                        </div> -->

                        <div class="ibox-content">
                            <h2>
                            <strong>Contract 1239201249 Dr Sacks - version 2 vs. version 4</strong>
                            </h2>
                            <p>
                                This shows the difference between versions of the selected contract.
                            </p>

                            <div class="well">

                                <div class="row diff-wrapper">

                                        <div class="original" style='display:none!important'>

<p style="margin-top:0px;margin-bottom:0px" align="right"><font style="font-family:Times New Roman" size="2"><b>Exhibit 10.15 </b></font></p>
 <p style="margin-top:12px;margin-bottom:0px" align="center"><font style="font-family:Times New Roman" size="2"><b>MEDICAL DIRECTOR AGREEMENT </b></font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%;padding-bottom:0px;"><font style="font-family:Times New Roman" size="2"><b>THIS MEDICAL
</b><b>DIRECTOR AGREEMENT</b> (this “Agreement”) is entered into this 28</font><font style="font-family:Times New Roman" size="1"><sup style="vertical-align:baseline; position:relative; bottom:.8ex">th</sup></font><font style="font-family:Times New Roman" size="2"> day of January, 2011 (the “Effective Date”), by and between Advocate Healthcare, Inc., a Illinois corporation (“Company”), and Nicholas Dobrez, D.O. (“Physician”)
</font></p>
 <p style="margin-top:18px;margin-bottom:0px" align="center"><font style="font-family:Times New Roman" size="2"><b>RECITALS: </b></font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Company has entered into previous Medical Oversight and Supervisor Agreements with the Physician and the parties agree that that all such agreements will terminate as of the Effective Date
of this Agreement; </font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Company provides healthcare services to individuals in their homes and offices through
licensed nurse practitioners; </font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Company desires to engage Physician to provide medical director services,
including appropriate supervision of nurse practitioners; </font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Physician, who is duly licensed in the State of
Illinois and qualified to provide the medical director services, desires to serve in the position of medical director of Company in accordance with the terms and conditions of this Agreement. </font></p>

<p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>NOW, THEREFORE,</b> in consideration of the mutual promises and covenants entered into and other good and valuable consideration, the
sufficiency and adequacy of which is hereby acknowledged, the parties hereto agree to the following terms and conditions: </font></p>
 <p style="font-size:18px;margin-top:0px;margin-bottom:0px">&nbsp;</p>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="4%" valign="top" align="left"><font style="font-family:Times New Roman" size="2"><b>1.</b></font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2"><b>Scope of Services </b></font></td>
</tr>
</tbody>
</table>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="4%"><font size="1">&nbsp;</font></td>

<td width="4%" valign="top" align="left"><font style="font-family:Times New Roman" size="2">8.14</font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2"><u>Copyrights, Trademarks.</u> All work produced pursuant to this Agreement, whether produced by Physician alone or with others, shall be considered work made for hire
and the sole property of Company. Physician shall, during and subsequent to the term of this Agreement, assign to Company without further consideration all right, title, and interest in all trademarks and trade names and registration thereof,
copyrights and registration, extensions, and renewals thereof on all such material, including any translations performed pursuant to this Agreement. All materials produced under this Agreement shall be and remain the exclusive property of Company
whether or not registered. </font></td>
</tr>
</tbody>
</table>
 <p style="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</p>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="4%"><font size="1">&nbsp;</font></td>

<td width="4%" valign="top" align="left"><font style="font-family:Times New Roman" size="2">8.15</font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2"><u>Non-Compete and Non-Solicitation</u>. </font></td>
</tr>
</tbody>
</table>
 <p style="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</p>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="8%"><font size="1">&nbsp;</font></td>

<td width="5%" valign="top" align="left"><font style="font-family:Times New Roman" size="2">8.15.1&nbsp;</font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2">Physician agrees that during the term of this Agreement and for one (1)&nbsp;year after the termination date, Physician will not, without the Company’s express
written consent: (i)&nbsp;directly or indirectly, for himself or on behalf of any other person, corporation, or entity, seek to employ, solicit, encourage, or attempt to induce to leave, any (A)&nbsp;current employee or consultant of Company, or
(B)&nbsp;any person who, at any time during the three months prior to the termination date, was an employee or consultant of Company; (ii)&nbsp;solicit the business of any then current (at the time of the termination date) clients or customers
(including parties which Company is engaged in business discussions) of Company relating, directly or indirectly, to the business of the company or competitive with the business of the Company, other than on behalf of Company, within a sixty
(60)&nbsp;mile radius of any Company location where Physician actually performed services for Company; (iii)&nbsp;directly or indirectly acquire or hold any ownership or investment interest in or contract to provide administrative or executive
services to any person or entity providing the same or similar services as Company or (iv)&nbsp;otherwise compete with Company directly or in conjunction with any other person or entity. Nothing in this non-competition provision shall prohibit
Physician from engaging in the practice of medicine in a clinical, non-executive capacity in an office-based or hospital-based practice following the termination of this Agreement. </font></td>
</tr>
</tbody>
</table>





                                        </div>

                                    <div class="col-md-6">
                                        <h4>Newer Contract</h4>

                                        <div class="changed">



<p style="margin-top:0px;margin-bottom:0px" align="right"><font style="font-family:Times New Roman" size="2"><b>Exhibit 10.15 </b></font></p>
 <p style="margin-top:12px;margin-bottom:0px" align="center"><font style="font-family:Times New Roman" size="2"><b>MEDICAL DIRECTOR AGREEMENT </b></font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%;padding-bottom:0px;"><font style="font-family:Times New Roman" size="2"><b>THIS MEDICAL
</b><b>DIRECTOR AGREEMENT</b> (this “Agreement”) is entered into this 28</font><font style="font-family:Times New Roman" size="1"><sup style="vertical-align:baseline; position:relative; bottom:.8ex">th</sup></font><font style="font-family:Times New Roman" size="2"> day of January, 2011 (the “Effective Date”), by and between Advocate Healthcare, Inc., a Illinois corporation (“Company”), and Nicholas Dobrez, D.O. (“Physician”)
</font></p>
 <p style="margin-top:18px;margin-bottom:0px" align="center"><font style="font-family:Times New Roman" size="2"><b>RECITALS: </b></font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Company has entered into previous Medical Oversight and Supervisor Agreements with the Physician and the parties agree that that all such agreements will terminate as of the Effective Date
of this Agreement; </font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Company provides healthcare services to individuals in their homes and offices through
licensed nurse practitioners; </font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Company desires to engage Physician to provide medical director services,
including appropriate supervision of nurse practitioners; </font></p>
 <p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>WHEREAS,</b> Physician, who is duly licensed in the State of
Illinois and qualified to provide the medical director services, desires to serve in the position of medical director of Company in accordance with the terms and conditions of this Agreement. </font></p>

<p style="margin-top:12px;margin-bottom:0px; text-indent:4%"><font style="font-family:Times New Roman" size="2"><b>NOW, THEREFORE,</b> in consideration of the mutual promises and covenants entered into and other good and valuable consideration, the
sufficiency and adequacy of which is hereby acknowledged, the parties hereto agree to the following terms and conditions: </font></p>
 <p style="font-size:18px;margin-top:0px;margin-bottom:0px">&nbsp;</p>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="4%" valign="top" align="left"><font style="font-family:Times New Roman" size="2"><b>1.</b></font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2"><b>Scope of Services </b></font></td>
</tr>
</tbody>
</table>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="4%"><font size="1">&nbsp;</font></td>

<td width="4%" valign="top" align="left"><font style="font-family:Times New Roman" size="2">8.14</font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2"><u>Copyrights, Trademarks.</u> All work produced pursuant to this Agreement, whether produced by Physician alone or with others, shall be considered work made for hire
and the sole property of Company. Physician shall, during and subsequent to the term of this Agreement, assign to Company without further consideration all right, title, and interest in all trademarks and trade names and registration thereof,
copyrights and registration, extensions, and renewals thereof on all such material, including any translations performed pursuant to this Agreement. All materials produced under this Agreement shall be and remain the exclusive property of Company
whether or not registered. </font></td>
</tr>
</tbody>
</table>
 <p style="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</p>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="4%"><font size="1">&nbsp;</font></td>

<td width="4%" valign="top" align="left"><font style="font-family:Times New Roman" size="2">8.15</font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2"><u>Non-Compete and Non-Solicitation</u>. </font></td>
</tr>
</tbody>
</table>
 <p style="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</p>

<table style="BORDER-COLLAPSE:COLLAPSE" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody>
<tr>

<td width="8%"><font size="1">&nbsp;</font></td>

<td width="5%" valign="top" align="left"><font style="font-family:Times New Roman" size="2">8.15.1&nbsp;</font></td>

<td align="left" valign="top"><font style="font-family:Times New Roman" size="2">Doctor agrees that during the term of this Agreement and for one (1)&nbsp;year after the termination date, Physician will not, without the Company’s express
written consent: (i)&nbsp;directly or indirectly, for himself or on behalf of any other person, corporation, or entity, seek to employ, solicit, encourage, or attempt to induce to leave, any (A)&nbsp;current employee or consultant of Company, or
(B)&nbsp;any person who, at any time during the three months prior to the termination date, was an employee or consultant of Company; (ii)&nbsp;solicit the business of any then current (at the time of the termination date) clients or customers
(including parties which Company is engaged in business discussions) of Company relating, directly or indirectly, to the business of the company or competitive with the business of the Company, other than on behalf of Company, within a sixty
(60)&nbsp;mile radius of any Company location where Physician actually performed services for Company; (iii)&nbsp;directly or indirectly acquire or hold any ownership or investment interest in or contract to provide administrative or executive
services to any person or entity providing the same or similar services as Company or (iv)&nbsp;otherwise compete with Company directly or in conjunction with any other person or entity. Nothing in this non-competition provision shall prohibit
Physician from engaging in the practice of medicine in a clinical, non-executive capacity in an office-based or hospital-based practice following the termination of this Agreement. </font></td>
</tr>
</tbody>
</table>







                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Document Changes</h4>

                                        <div class="diff1"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->

    <!-- Diff march patch -->
    <script src="{{ STATIC_URL }}js/diff_match_patch.js"></script>

    <!-- jQuery pretty text diff -->
    <script src="{{ STATIC_URL }}js/jquery.pretty-text-diff.min.js"></script>
    <script src="{{ STATIC_URL }}js/htmldiff.js"></script>


    <script>

    // $(document).ready(function () {

        // // Initial diff1
        // $(".diff-wrapper").prettyTextDiff({
        //     diffContainer: ".diff1"
        // });


        // // Initial diff2
        // $(".diff-wrapper2").prettyTextDiff({
        //     originalContent: $('#original').val(),
        //     changedContent: $('#changed').val(),
        //     diffContainer: ".diff2"
        // });



    // });



    $(document).ready(function () {

        var original = $('.original').html();
        var changed = $('.changed').html();

        var diffOutput =  window.htmldiff(original,changed);

        $('.diff1').html(diffOutput);

    });

    </script>
    {% endblock %}




