{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">
    <style type="text/css">

    .table-btn{
        margin-bottom: 0px !important;
    }

    table{
        table-layout: auto;
        width: auto;
    }

    .muted-row{
        background-color: #E6E6E6;
    }

    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Legal Department</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a>Groups</a>
                        </li>
                        <li>
                            <a>Legal</a>
                        </li>
                    <span class='pull-right'>Last Updated 12/12/2014</span>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Pending </span>
                            <h2 class="font-bold">20</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-level-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Checked Out </span>
                            <h2 class="font-bold">5</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Pending Documents</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive">
                        <table class="table table-bordered table-hover table-conden" >
                        <thead>
                        <tr>
                            <th style='width:40px'>
                            </th>
                            <th>Name</th>
                            <th>Sent From</th>
                            <th>Sent At</th>
                            <th>Edited By</th>
                            <th>Grabbed By</th>
                            <th>Grabbed At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX muted-row">
                            <td>
                            </td>
                            <td>5</td>
                            <td>Trident</td>
                            <td>12/1/2014</td>
                            <td>Taylor</td>
                            <td>Taylor</td>
                            <td>11/1/2015</td>
                        </tr>
                        <tr class="gradeC">
                            <td>
                                <div class="i-checks">
                                    <input type="checkbox" >
                                </div>
                            </td>
                            <td>4</td>
                            <td>Trident</td>
                            <td>12/1/2014
                            </td>
                            <td>Taylor</td>
                            <td></td>
                            <td>11/1/2015</td>

                        </tr>
                        <tr class="gradeA">
                            <td>
                                <div class="i-checks">
                                    <input type="checkbox" >
                                </div>
                            </td>
                            <td>3</td>
                            <td>Trident</td>
                            <td>12/1/2014
                            </td>
                            <td>Taylor</td>
                            <td></td>
                            <td>11/1/2015</td>

                        </tr>
                        <tr class="gradeA muted-row">
                            <td>
                            </td>
                            <td>2</td>
                            <td>Presto</td>
                            <td>11/25/2014</td>
                            <td>Taylor</td>
                            <td>Rick</td>
                            <td>11/1/2015</td>

                        </tr>
                        <tr class="gradeA">
                            <td>
                                <div class="i-checks">
                                    <input type="checkbox" >
                                </div>
                            </td>
                            <td>1</td>
                            <td>Presto</td>
                            <td>11/25/2014</td>
                            <td>Taylor</td>
                            <td></td>
                            <td>11/1/2015</td>
                            
                        </tr>
                        </tbody>

                        </table>
                            </div>


                        <button class='btn btn-lg btn-primary'>Grab Document(s)</button>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3'>



                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Members</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-hover " >
<!--                             <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                            </tr>
                            </thead> -->
                            <tbody>
                            <tr>
                                <td>Taylor Hess</td>
                                <td>taylor.hess@advocatehealth.com</td>
                            </tr>
                            <tr>
                                <td>Joan Klein</td>
                                <td>joan.klein@advocatehealth.com</td>
                            </tr>
                            <tr>
                                <td>Randy Savage</td>
                                <td>randy.savage@advocatehealth.com</td>
                            </tr>
                            <tr>
                                <td>Jill Joy</td>
                                <td>jill.joy@advocatehealth.com</td>
                            </tr>
                            <tr>
                                <td>Emily Beeker</td>
                                <td>emily.beeker@advocatehealth.com</td>
                            </tr>
                            </tbody>
                            </table>
                        </div>

                    </div>
                </div>







                </div>
            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script>

        $(document).ready(function() {
            $('.dataTables-example').DataTable({
            });

        });

       $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });


    </script>
    {% endblock %}
