{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">
    <style type="text/css">

/*    table{
        table-layout: auto;
        width: auto;
    }*/

    .muted-row{
        background-color: #E6E6E6;
    }

    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>{{team.name}}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a href="{% url 'groups' %}">Groups</a>
                        </li>
                        <li>
                            <a>Legal</a>
                        </li>
                    <span class='pull-right'>Last Updated 12/12/2014</span>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Pending </span>
                            <h2 class="font-bold">20</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-level-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Checked Out </span>
                            <h2 class="font-bold">5</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Pending Documents</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                        <form method='post'>
                            {% csrf_token %}
                                    <div class="table-responsive">
                                <table class="table table-bordered table-hover table-conden" >
                                <thead>
                                <tr>
                                    <th style='width:40px'>
                                    </th>
                                    <th>Name</th>
                                    <th>Sent From</th>
                                    <th>Sent At</th>
                                    <th>Grabbed By</th>
                                    <th>Grabbed At</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in contracts %}

                                    {% if c.current_user %}
                                <tr class="muted-row">
                                    <td>
                                    </td>
                                    {% else %}
                                <tr>
                                    <td>
                                        <div class="i-checks">
                                            <input type="checkbox" value='{{c.id}}' name='grabbed_contract'>
                                        </div>
                                    </td>
                                    {% endif %}

                                    <td>{{c.contract.name}}</td>
                                    <td>{{c.prev_group}} ({{c.prev_user}})</td>
                                    <td>{{c.sent_at}}</td>
                                    <td>{{c.current_user}}</td>
                                    <td>{{c.grabbed_at}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>

                                </table>
                                    </div>

                        <button class='btn btn-lg btn-primary' name='grab_contract'>Grab Document(s)</button>
                        </form>

                        </div>
                    </div>
                </div>
                <div class='col-lg-3'>



                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Members</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-hover " >

                            <tbody>
                                {% for member in team_members %}
                            <tr>
                                <td>{{member.user.first_name}} {{member.user.last_name}}</td>
                                <td>{{member.user.email}}</td>
                            </tr>
                                {% empty %}
                            No Members!
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>

                    </div>
                </div>







                </div>
            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script>

       $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });


    </script>
    {% endblock %}
