{% extends 'base.html' %}



    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    {% endblock %}




    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Home</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-6">
                    <table class="table small m-b-xs">
                        <tbody>
                        <tr>
                            <td>
                                <strong><a href="{% url 'group' request.user.userprofile.team.name %}">My Group</a></strong>
                            </td>
                            <td>
                                <strong><a href="{% url 'groups' %}">All Groups</a></strong>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong><a href="{% url 'newcontract' %}">Add a Contract</a></strong>
                            </td>
                            <td>
                                <strong><a href="{% url 'allcontracts' %}">View All Contracts</a></strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong><a href="{% url 'analyzecontracts' %}">Analyze Contracts</a></strong>
                            </td>
                            <td>
                                <strong><a href="">User Information</a></strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Pending Contracts In My Group</span>
                                <h2 class="font-bold">20</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-level-up fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Grabbed Contracts In My Group</span>
                                <h2 class="font-bold">5</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Grabbed Contracts</h3>
                    </div>
                                        <div class="ibox-content">

                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-conden" >
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Name</th>
                        <th>Edited At</th>
                        <th>Contract Amount</th>
                        <th>Signed</th>
                        <th>Expiration</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in checked_out_contracts %}
                    <tr>
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' c.id %}">View</a>
                            <form method='post' style='display:inline'> {% csrf_token %}
                            <input type='hidden' value='{{c.id}}' name='contractid'/>
                            <button class='btn btn-xs btn-warning checkin-button' name='checkin_contract'  type='submit'>Check In</button>
                            </form>
                        </td>
                        <td>{{c.contract.name}}</td>
                        <td>{{c.created_at}}</td>
                        <td>{{c.amount}}</td>
                        <td>{{c.signed}}</td>
                        <td>{{c.end_date}}</td>
                        <td><span class="label label-warning">In Progress</span></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=7>None Checked Out!</td>
                    </tr>
                    {% endfor %}

                    </tbody>

                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>





            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>My History</h3>
                    </div>
                                        <div class="ibox-content">

                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-conden" >
                    <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Contract Name</th>
                        <th>Action Taken</th>
                        <th>Action Date</th>
                        <th>Current Group</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                     {% for c in contract_history %}
                    <tr class="gradeX">
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' 1 %}">View</a>
                        </td>
                        <td>{{c.contract.name}}</td>
                        <td>Sent to <a href="{% url 'group' 1 %}">Finance</a></td>
                        <td>8/1/2015</td>
                        <td>Legal</td>
                        <td><span class="label label-warning">In Progress</span></td>
                    </tr>
                    {% endfor %} -->

                    <tr>
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' 1 %}">View</a>
                        </td>
                        <td>Dr. Vanguard - Stipend</td>
                        <td>Sent to <a href="{% url 'group' 1 %}">Finance</a></td>
                        <td>1/4/16</td>
                        <td>-</td>
                        <td><span class="label label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' 1 %}">View</a>
                        </td>
                        <td>Dr. Perone - Medical Directorship</td>
                        <td>Sent to <a href="{% url 'group' 1 %}">Compliance</a></td>
                        <td>12/17/2015</td>
                        <td>Human Resources</td>
                        <td><span class="label label-warning">In Progress</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' 1 %}">View</a>
                        </td>
                        <td>Dr. Buddig</td>
                        <td>Sent to <a href="{% url 'group' 1 %}">Human Resources</a></td>
                        <td>11/8/2015</td>
                        <td>-</td>
                        <td><span class="label label-success">Completed</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' 1 %}">View</a>
                        </td>
                        <td>Dr. Smith - Call Pay</td>
                        <td>Sent to <a href="{% url 'group' 1 %}">Finance</a></td>
                        <td>11/1/2015</td>
                        <td>Legal</td>
                        <td><span class="label label-warning">In Progress</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a class='btn btn-xs btn-primary' href="{% url 'contract' 1 %}">View</a>
                        </td>
                        <td>Midwest Medical</td>
                        <td>Sent to <a href="{% url 'group' 1 %}">Finance</a></td>
                        <td>10/29/2015</td>
                        <td>Compliance</td>
                        <td><span class="label label-warning">In Progress</span></td>
                    </tr>



                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>

        </div>


    {% endblock %}

 {% block scripts %}

    <!-- Page-Level Scripts -->
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script>

        $(document).ready(function() {
            $('.dataTables-example').DataTable({
            });

        });

        // $('.checkin-button').click(function () {
        //     swal({
        //         title: "Are you sure?",
        //         text: "You are checking in this contract back to your group.",
        //         type: "warning",
        //         showCancelButton: true,
        //         confirmButtonColor: "#DD6B55",
        //         confirmButtonText: "Yes, check it in!",
        //         closeOnConfirm: false
        //     }, function () {
        //         swal("Done!", "You have checked in this document.", "success");
        //     });
        // });

    </script>
    {% endblock %}
