{% extends 'frontbase.html' %}



{% block head %}
<style type="text/css">
    .btn-demo{
        background-color: #FFFFFF;
        border-color: #1ab394;
        color: #7B7B7B;
        font-size: 22px;
        padding: 20px 50px;
    }

    .frontpage-header-style{

        background-image: linear-gradient(90deg, rgb(22, 160, 133) 24%, rgb(41, 128, 185) 100%);
        background-image: -moz-linear-gradient(left, rgb(22, 160, 133) 24%, rgb(41, 128, 185) 100%);
        background-image: -webkit-linear-gradient(left, rgb(22, 160, 133) 24%, rgb(41, 128, 185) 100%);
        background-image: -o-linear-gradient(left, rgb(22, 160, 133) 24%, rgb(41, 128, 185) 100%);
        background-image: -ms-linear-gradient(left, rgb(22, 160, 133) 24%, rgb(41, 128, 185) 100%);
    }

    .frontpage-checklist li{
        list-style: none;
        font-size: 1.2em;
    }

    .frontpage-checklist i{
        padding: 10px;
        color: #1AB394;
    }

    .frontpage-checklist{
        padding-left: 0px;
    }

    #violation-dollar-countup{
        font-size: 7em;
        font-weight: 600;
    }

    .product-outline{
        outline: 1px solid #E8E8E8;
        outline-offset: -8px;
        padding: 15px 30px;
        text-align: center;
        -webkit-transition: outline 0.7s ease;
         -moz-transition: outline 0.7s ease;
           -o-transition: outline 0.7s ease;
          -ms-transition: outline 0.7s ease;
              transition: outline 0.7s ease; 
    }

    .product-outline i{
        display: block;
        font-size: 8em;
    }

    .product-outline:hover{
        outline: 1px solid #1AB394;
    }

    #benefits-row h2{
        text-align: center;
    }

    #benefit-main{
        font-weight: bold;
        margin-bottom: 45px;
    }

    #benefit-main h1{
        /*font-weight: 500;*/
    }

    .main-benefit{
        padding: 30px;
    }

    .main-benefit p{
        font-size: 1.5em!important;
    }

    .text-underline{
        border-bottom: 1px solid #55A97F;
    }

</style>
{% endblock %}

{% block content %}
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
<!--     <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol> -->
    <div class="carousel-inner" role="listbox">
        <div class="item active frontpage-header-style">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Easy to Use Physician  <br/>
                        Arrangement Software</h1>
                    <p>Manage, Create, and Keep track of your <br/> physician arrangements</p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="{{ STATIC_URL }}img/laptop.png" alt="laptop"/>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="features" class="container services" style='padding:175px 0px 100px 0px'>
    <div class="row text-center" id='benefit-main'>
        <h1>A <span class='text-underline'>Simple</span>, <span class='text-underline'>Cost Effective</span> & <span class='text-underline'>Feature Rich</span> Compliance Software Solution</h1>
    </div>
    <div class="row" id="benefits-row">
        <div class='col-lg-4'>
            <h2>Save Time and Money</h2>
            <p>With every contract at your fingertips and our advanced set of products, you can massively cut down on time spent on physician arrangements.</p>
        </div>
        <div class='col-lg-4'>
            <h2>Avoid Massive Fines</h2>
            <p>Audits are no longer a matter of "if", but a matter of "when".  Don't be a part of the next round of large government fines.</p>
        </div>
        <div class='col-lg-4'>
            <h2>Plan for the Future</h2>
            <p>Strategically plan for future by having snapshots of all physician arrangements with our advanced reporting features.</p>
        </div>
    </div>
    <div class='row text-center' style='margin-top:20px'>
        <p>
            <a class="btn btn-primary" href="{% url 'about' %}" style='padding: 2px 7px!important'>Learn more about us</a>
        </p>
    </div>  

<!--     <div class='row' style='padding-top:100px'>
        <h1 id='violation-dollar-countup'>0</h1>
        <h3>Total fines for Stark Violations in 2015 alone</h3>
    </div>  -->

    <hr style='margin-top:100px;margin-bottom:50px'>
    <div class="row" style='padding:0px 0px 50px 0px'>
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Our Products</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 product-outline">
            <i class='ion-ios-copy-outline'></i>
            <h2>Contract Manager</h2>
            <p>Create, Manage, and Track Physician Arrangement Contracts</p>
            <p><a class="navy-link" href="{% url 'products_contractmanager' %}" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-4 product-outline">
            <i class='ion-ios-time-outline'></i>
            <h2>Physician Time Tracker</h2>
            <p>Tracking physician arrangement times couldn't be easier</p>
            <p><a class="navy-link" href="{% url 'products_timetracker' %}" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-4 product-outline">
            <i class='ion-ios-pulse'></i>
            <h2>Analytics Suite</h2>
            <p>Use your data to help you make strategic decisions</p>
            <p><a class="navy-link" href="{% url 'products_analytics' %}" role="button">Details &raquo;</a></p>
        </div>
    </div>
</section>

<!-- <section class="features"  style='padding-bottom:180px'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>A Simple, Cost Effective, Feature Rich SaaS Compliance Solution</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 features-text">
                <h2>Easy to Use</h2>
                <p>Our main focus in on simplicity.  While other solutions have steep learning curves and confusing interfaces, we pride ourselves on a simple, elegant design that makes things incredibly easy and intuitive</p>
            </div>
            <div class="col-lg-3 features-text">
                <h2>Cost Effective</h2>
                <p>The current state of healthcare is one filled with cost pressures.  We provide a top notch healthcare compliance solution that can fit in any budget.</p>
            </div>
            <div class="col-lg-3 features-text">
                <h2>Technology Focused</h2>
                <p>When it comes down to it, we are a technology company.  We strive to provide the best tech product on the market by utilizing up to date technologies and having a focus on security. </p>
            </div>
            <div class="col-lg-3 features-text">
                <h2>100% Healthcare</h2>
                <p>While other solutions may be able to solve similar problems after costly, extensive customization, our solution is built 100% for healthcare and is HIPAA compliant.</p>
            </div>
        </div>
    </div>

</section> -->

<section id="tryus" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    Try Us Out
                </h1>
                <div class="testimonials-text">
                    <i>Want to learn more about what we can do for you?  Check out our site and book a demo by clicking below</i>
                </div>
                <br>
                <a href="{% url 'contact' %}" class='btn btn-lg btn-demo'>Contact Us</a>

            </div>
        </div>
    </div>

</section>


<section  class="container features" style='padding-top:40px'>

<div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Simplify Compliance</h1>
        </div>
    </div>

    <div class="row features-block">

        <div class='col-lg-6 wow fadeInLeft'>
            <p style='margin-bottom:30px'>Our seamless system is designed to keep things easy for you.  We help you create and manage physician arrangements while making things as simple as possbile, so you can focus on getting things done quickly and effectively.</p>
        
            <div class='row'>
                <div class="col-lg-6">
                    <ul class='frontpage-checklist'>
                        <li><i class='fa fa-check'></i>   Keep Track of Physicians</li>
                        <li><i class='fa fa-check'></i>   HIPAA Compliant</li>
                        <li><i class='fa fa-check'></i>   SaaS Hosted Solution</li>
                        <li><i class='fa fa-check'></i>   Dynamic Contract Creation</li>
                        <li><i class='fa fa-check'></i>   Integrated Alert System</li>
                        <li><i class='fa fa-check'></i>   Manage Contracts</li>
                        <li><i class='fa fa-check'></i>   Contract Analytics</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class='frontpage-checklist'>
                        <li><i class='fa fa-check'></i>   Painless Auditing</li>
                        <li><i class='fa fa-check'></i>   Eliminate Costly Human Errors</li>
                        <li><i class='fa fa-check'></i>   Track Contract Changes</li>
                        <li><i class='fa fa-check'></i>   Timesheet Tracking</li>
                        <li><i class='fa fa-check'></i>   User Effort Tracking</li>
                        <li><i class='fa fa-check'></i>   Unlimited Contract Storage</li>
                        <li><i class='fa fa-check'></i>   Lifetime Free Upgrades</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-lg-6 text-right wow fadeInRight" style='padding-left: 40px;'>
            <img src="{{ STATIC_URL }}img/contract_dashboard.png" alt="contract dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>

{% endblock %}



{% block scripts %}

<script>
    
    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        // function scrollPage() {
        //     var sy = scrollY();
        //     if ( sy >= changeHeaderOn ) {
        //         $(header).addClass('navbar-scroll')
        //     }
        //     else {
        //         $(header).removeClass('navbar-scroll')
        //     }
        //     didScroll = false;
        // }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

<script src="{{ STATIC_URL }}js/countUp.js"></script>
<script type="text/javascript">

    // $(document).ready(function () {

    //     var options = {
    //       useEasing : false, 
    //       useGrouping : true, 
    //       separator : ',', 
    //       decimal : '.', 
    //       prefix : '$', 
    //       suffix : '' 
    //     };


    //     window.setTimeout(function (){
    //         var numAnim = new CountUp("violation-dollar-countup", 0, 240000000, 0, 2, options);
    //         numAnim.start();
    //     }, 0)



    // });


</script>
    {% endblock %}


