{% extends 'frontbase.html' %}


{% block head %}
<style type="text/css">
.circlenum {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 3em;
    padding: 15px;
}

.worksstep {
    padding: 30px 0px;
}

.benefit-outline{
    text-align: center;
    padding: 25px;
    outline: 1px solid #E8E8E8;
        outline-offset: -8px;
        text-align: center;
        -webkit-transition: outline 0.7s ease;
         -moz-transition: outline 0.7s ease;
           -o-transition: outline 0.7s ease;
          -ms-transition: outline 0.7s ease;
              transition: outline 0.7s ease; 
}

.benefit-outline i{
    color: #1ab394 !important;
    font-size: 7em;
}

.benefit-outline h2{
    margin-top: 0px;
}

.benefits-area{
    margin-top: 75px;
    margin-bottom: 130px;
}

.main-color{
    color: #1ab394;
}

</style>

{% endblock %}


{% block content %}
<div class="carousel front-header">

    <div class="carousel-inner">
        <div class="item active front-header secondary-header-style">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Contract Manager</h1>
                    <p>Products</p>
                </div>
            </div>
        </div>
    </div>

</div>


<section  class="container features">
   
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Create, Manage, and Track Physician Arrangement Contracts</h1>
        </div>
    </div>
    <div class="row benefits-area">
        <div class="col-sm-4 benefit-outline wow fadeInLeft">
            <i class='ion-ios-copy-outline'></i>
            <h2>Stop Compliance Violations In Their Tracks</h2>
        </div>
        <div class="col-sm-4 benefit-outline wow fadeInUp">
            <i class='ion-ios-time-outline'></i>
            <h2>Avoid the huge fines caused by Stark Violations, Fraud, and Anti Kickback</h2>
        </div>
        <div class="col-sm-4 benefit-outline wow fadeInRight">
            <i class='ion-ios-pulse'></i>
            <h2>Prevent Compliance Issues That Could Lead to Jail Time</h2>
        </div>
    </div>

    <div class="row features-block">

        <div class="col-lg-6 features-text wow fadeInLeft">
            <h3 class='main-color'>About ContractManager</h3>
            <p>ContractManager is a SaaS tool to collaboratively create, manage, and track physician contracts in order to have overview into all contracts, ensure compliance, and strategically plan for the future. Our software allows you to dynamically create contracts, keep track of changes, view past versions, manage the workflow of the contracts, and set custom alerts at key times in the contracts history.</p>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/laptop.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>


<section  class="container benefits-section">

 <!--    <div class="row">
        <div class="col-sm-4 benefit-outline">
            <i class='ion-ios-copy-outline'></i>
            <h2>Stop Compliance Violations In Their Tracks</h2>
        </div>
        <div class="col-sm-4 benefit-outline">
            <i class='ion-ios-time-outline'></i>
            <h2>Avoid the huge fines caused by Stark Violations, Fraud, and Anti Kickback</h2>
        </div>
        <div class="col-sm-4 benefit-outline">
            <i class='ion-ios-pulse'></i>
            <h2>Prevent Jail Time</h2>
        </div>
    </div> -->

<!--     <div class="row features-block">
        <div class="col-lg-1 features-text wow fadeInLeft">
            <i class="fa fa-hand-stop-o big-icon"></i>
        </div>
        <div class="col-lg-11 features-text wow fadeInLeft">
            <h1>Stop Compliance Violations In Their Tracks</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 features-text wow fadeInLeft" style='margin-top:30px'>
            <i class="icon ion-cash big-icon"></i>
        </div>
        <div class="col-lg-11 features-text wow fadeInLeft">
            <h1> Avoid the huge fines caused by Stark Violations, Fraud, and Anti Kickback</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 features-text wow fadeInLeft">
            <i class="fa fa-warning big-icon"></i>
        </div>
        <div class="col-lg-11 features-text wow fadeInLeft">
            <h1>Prevent Jail Time</h1>
        </div>
    </div> -->
</section>


<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>How It Works</h1>
                <p>Our Simple Process</p>
            </div>
        </div>
        <div class="row">
      <div class="testemonials wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s">

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              1
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h3 class="media-heading">Create A Contract</h3>
                <p>Create a contract from scratch, or from previously created custom templates.</p>
          </div>
        </div>

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              2
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h3 class="media-heading">Add Initial Data</h3>
                <p>Add the initial data, such as the workflow (what departments/individuals will the contract get passed to), and the physician.</p>
          </div>
        </div>

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              3
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h3 class="media-heading">Pass Contract and Fill Out</h3>
                <p>Approve the contract, and pass it to another group to add addtional information.  You can add addition amendments here, or just fill in the inputs of the contract.</p>
          </div>
        </div>

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              4
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h3 class="media-heading">Finish Contract</h3>
                <p>Once the contract has been completely filled out, the changes have been made, and the contract has been approved, all the parties can sign the contract and save it for good!</p>
          </div>
        </div>


        
      </div>
    </div>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Want to learn more? Reach out to us <a href="{% url 'contact' %}">here</a> -- we'll get back to you in no time!
                </p>
            </div>
        </div>
    </div>
</section>


<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Features</h1>
                <p>Contract Manager does a lot!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <small>Contracts</small>
                <h2>Create Contracts</h2>
                <i class="fa fa-file-o big-icon pull-right"></i>
                <p>Easily create contracts from previously made templates, paste in previous contracts, or create new ones from scratch.  Just enter some basic contract information and the base contract will be created with ease.</p>
            </div>
            <div class="col-lg-6 features-text">
                <small>Workflow</small>
                <h2>Set and Manage Workflow</h2>
                <i class="fa fa-code-fork big-icon pull-right"></i>
                <p>Choose how the contract will flow through your organization.  You can send the contracts to a department, or send them directly to individuals.  Workflows can be saved and reused, or you can choose who to send the contract to once you are finished making edits.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <small>Security</small>
                <h2>HIPAA Compliance and Security</h2>
                <i class="fa fa-exchange big-icon pull-right"></i>
                <p>Our application is served 100% over HTTPS using 256 bit end to end SSL encryption. We take security very seriously and are HIPAA compliant.</p>
            </div>
            <div class="col-lg-6 features-text">
                <small>Analytics</small>
                <h2>Track Changes</h2>
                <i class="fa fa-bookmark-o big-icon pull-right"></i>
                <p>All contract changes will be tracked with time stamps.  This means you can compare contract versions, see who made changes, and view historical contracts. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <small>Analytics</small>
                <h2>Advanced Analytics</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Dig down into the details of your contracts, aggregate data, find contracts that are expiring soon, and much more.</p>
            </div>
            <div class="col-lg-6 features-text">
                <small>Alerts</small>
                <h2>Real Time Alerts</h2>
                <i class="fa fa-bell-o big-icon pull-right"></i>
                <p>Get notified of pending contracts, unsigned contracts, contracts soon to autorenew, contracts set to expire soon, and more!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <small>General</small>
                <h2>Permission System</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>With our permission system, only those who should have access to the data, will have access.  You can lock down who can view what in order to keep your data safe.</p>
            </div>
            <div class="col-lg-6 features-text">
                <small>General</small>
                <h2>Download Data</h2>
                <i class="fa fa-download big-icon pull-right"></i>
                <p>It's your data--you can download all of it at any time!</p>
            </div>
        </div>
    </div>

</section>


{% endblock %}





{% block scripts %}
<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

    {% endblock %}


