{% extends 'frontbase.html' %}

{% block content %}
<div class="carousel front-header">

    <div class="carousel-inner">
        <div class="item active front-header  secondary-header-style">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Compliance Analytics</h1>
                    <p>Products</p>
                </div>
            </div>
        </div>
    </div>

</div>


<section  class="container features">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contract Type Analysis</h1>
            <p>Filter through your data</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-7 features-text wow fadeInLeft">
            <h2>Dig Down</h2>
            <p>Filter your contracts to find exactly what you are looking for.  Search the full text of each contract, get summary statistics of contracts, and learn about the data you have</p>
        </div>
        <div class="col-lg-5 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Expiration Analysis</h1>
                <p>Plan for the future by viewing contracts coming due soon</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-5 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/dashboard.png" alt="dashboard" class="img-responsive pull-left">
        </div>
        <div class="col-lg-7 features-text wow fadeInLeft">
            <h2>Plan for the future</h2>
            <p>With our Expiration Analysis product, you can find contracts that are expiring soon in order to make strategic service line decisions, prepare for the future, and stay ahead of the game</p>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Physician Compensation Compare</h1>
            <p>Use your data to compare physician compensation and ensure market value</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-7 features-text wow fadeInLeft">
            <h2>Save time and money</h2>
            <p>Easy see what similar physicians are making when you look at fair market value.  You have the data--why pay others to do similar analysis when you can have it at your fingertips?s</p>
        </div>
        <div class="col-lg-5 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>


</section>


{% endblock %}





{% block scripts %}
<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

    {% endblock %}


