{% extends 'frontbase.html' %}




{% block head %}
<style type="text/css">
.circlenum {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 3em;
    padding: 15px;
}

.worksstep {
    padding: 30px 0px;
}

.benefit-outline{
    text-align: center;
    padding: 25px;
    outline: 1px solid #E8E8E8;
        outline-offset: -8px;
        text-align: center;
        -webkit-transition: outline 0.7s ease;
         -moz-transition: outline 0.7s ease;
           -o-transition: outline 0.7s ease;
          -ms-transition: outline 0.7s ease;
              transition: outline 0.7s ease; 
}

.benefit-outline i{
    color: #1ab394 !important;
    font-size: 7em;
}

.benefit-outline h2{
    margin-top: 0px;
}

.benefits-area{
    margin-top: 100px;
    margin-bottom: 50px;
}

.main-color{
    color: #1ab394;
}
</style>

{% endblock %}



{% block content %}
<div class="carousel front-header">

    <div class="carousel-inner">
        <div class="item active front-header secondary-header-style">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Physician Time Tracker</h1>
                    <p>Products</p>
                </div>
            </div>
        </div>
    </div>

</div>


<section  class="container features">
   
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Tracking physician arrangement times couldn't be easier</h1>
        </div>
    </div>



    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <p>TimeTracker consists of the web application, iPhone app, and Android app to track physician times, avoid compliance issues, and allow for incredibly easy auditing </p>

            <br>
            <br>
            <p>Within a physician arrangement, doctors are contractually obligated to work for a certain number of hours.  While many systems attempt to keep track of this, they do it in inefficent, and expensive ways.  With TimeTracker, you can have an all digital solution that doctors will love to use and keep you compliant.</p>

        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="{{ STATIC_URL }}img/iphone5_two.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>


    <div class="row benefits-area">
        <div class="col-sm-4 benefit-outline wow fadeInUp">
            <i class='ion-ios-monitor-outline'></i>
            <h2>100% digital solution - No More Paper</h2>
        </div>
        <div class="col-sm-4 benefit-outline wow fadeInLeft">
            <i class='ion-ios-circle-outline'></i>
            <h2>Simplify the auditing and tracking process</h2>
        </div>
        <div class="col-sm-4 benefit-outline wow fadeInRight">
            <i class='ion-iphone'></i>
            <h2>Native phone and web applications</h2>
        </div>
    </div>
</section>

<!-- <section  class="container features">
   
    <div class="row features-block">
        <div class="col-lg-1 features-text wow fadeInLeft">
            <i class="fa fa-circle-o big-icon"></i>
        </div>
        <div class="col-lg-11 features-text wow fadeInLeft">
            <h1>Simplify the auditing and tracking process</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 features-text wow fadeInLeft">
            <i class="fa fa-laptop big-icon"></i>
        </div>
        <div class="col-lg-11 features-text wow fadeInLeft">
            <h1>100% digital solution - no more paper</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1 features-text wow fadeInLeft">
            <i class="glyphicon glyphicon-phone big-icon"></i>
        </div>
        <div class="col-lg-11 features-text wow fadeInLeft">
            <h1>Native phone applications and web application</h1>
        </div>
    </div>
</section> -->


<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>How It Works</h1>
                <p>Our Simple Process</p>
            </div>
        </div>
        <div class="row">
      <div class="testemonials wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s">

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              1
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h1 class="media-heading">Physicians enter times in phone app or on web</h1>
                <p>With our focus on simplicity and a great user experience, physicians will be able to enter times with a breeze!</p>
          </div>
        </div>

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              2
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h3 class="media-heading">Approval Process Takes Place</h3>
                <p>The times are passed on to someone in order to approve and check the times--all digitally</p>
          </div>
        </div>

        <div class="worksstep row" >
          <div class="col-md-1">
            <div class="circlenum">
              3
            </div>
          </div>

          <div class='col-md-11' style='padding-left:40px'>
                <h3 class="media-heading">Alerts and Analytics</h3>
                <p>If something is wrong, the necessary people will be contacted.  You can also dig through past data here.</p>
          </div>
        </div>


        
      </div>
    </div>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Want to learn more? Reach out to us <a href="{% url 'contact' %}">here</a> -- we'll get back to you in no time!
                </p>
            </div>
        </div>
    </div>
</section>


<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Features</h1>
                <p>Our mobile and web apps do a lot! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>Seamlessly work on desktop and mobile</h2>
                <i class="fa fa-file-o big-icon pull-right"></i>
                <p>With our mobile and web applications built to work together from the start, you can be sure that the experience is seamless whether you want to use a phone, tablet, or computer.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Set and Manage Workflow</h2>
                <i class="fa fa-code-fork big-icon pull-right"></i>
                <p>Choose how the data flows through the application and who should approve the times.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>Secure</h2>
                <i class="fa fa-lock big-icon pull-right"></i>
                <p>With all data transfered over HTTPS, our data is secure.  We take security very seriously.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Beautiful Design</h2>
                <i class="fa fa-bookmark-o big-icon pull-right"></i>
                <p>We put a strong emphasis on design--we know users won't want to use TimeTracker unless it is both useable, and beautiful. We are constantly working to improve the look and usability of our mobile and web apps.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>Advanced Analytics</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Utilize advanced analytics to explore the physician time data.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Real Time Alerts</h2>
                <i class="fa fa-bell-o big-icon pull-right"></i>
                <p>If a situation arrises, users can be alerted in real time of any discrepencies and handle issues that arise.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 features-text">
                <h2>Permission System</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Physicians can only submit times for themselves, and you can control who sees what data.  All of the data is kept secure.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Easy Auditing</h2>
                <i class="fa fa-copy big-icon pull-right"></i>
                <p>Everything is tracked with TimeTracker.  With our all digital solution, data can be audited with the click of a button. No more time looking through email chains, faxes, and paper trails!</p>
            </div>
        </div>
    </div>

</section>


{% endblock %}





{% block scripts %}
<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

    {% endblock %}


