{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">
    <style type="text/css">

/*    table{
        table-layout: auto;
        width: auto;
    }*/

    .muted-row{
        background-color: #E6E6E6;
    }

    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>View Time Sheets</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a href="{% url 'timesheets' %}">Time Sheets</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Pending Time Sheets</h5>
                                    <a href="{% url 'timesheets_view' %}?download=true" class='pull-right btn btn-primary btn-xs'>Download</a>
                        </div>
                        <div class="ibox-content">


                                    <div class="table-responsive">
                                <table class="table table-bordered table-hover table-conden dataTables" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Area</th>
                                        <th>Time Period</th>
                                        <th>Contracted Time</th>
                                        <th>Time Sheet Time</th>
                                        <th>Date Submitted</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in timesheets %}
                                    <tr>
                                        <td><a href="{% url 'viewphysician' t.timelog_category.physician.npi %}">{{t.timelog_category.physician.user.first_name}} {{t.timelog_category.physician.user.last_name}}</a></td>
                                        <td>{{t.timelog_category.category.name}}</td>
                                        <td>{{t.period|date:"F Y"}}</td>
                                        <td>{{t.timelog_category.hours_needed}}</td>
                                        <td>{{t.mins_worked}}</td>
                                        <td>{{t.created_at}}</td>
                                        <td> 
                                            {% if t.approved_at%}
                                            <span class='label label-primary'>Approved</span>
                                            {% elif t.is_pending %}
                                            <span class='label'>Pending</span>
                                            {% else %}
                                            <span class='label label-danger'>Denied</span>
                                            {% endif %}


                                        </td>
                                        <td>
                                            <a class='btn btn-xs' href="">View</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                                </table>
                                    </div>


                        </div>
                    </div>
                </div>

            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script>

       $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        $(document).ready(function() {
            $('.dataTables').DataTable({
            });

        });

    </script>
    {% endblock %}
