{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/skins/all.css">
    <style type="text/css">

/*    table{
        table-layout: auto;
        width: auto;
    }*/

    .muted-row{
        background-color: #E6E6E6;
    }

    .false-icon{
        font-size: 1.3em;
        color: #CA1B17;
    }

    .true-icon{
        font-size: 1.3em;
        color: #16B130;
    }

    .hidden-text{
        display: none;
    }

    </style>

    {% endblock %}


 
    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>View Time Sheets</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">{{system_name}}</a>
                        </li>
                        <li>
                            <a href="{% url 'timesheets' %}">Time Sheets</a>
                        </li>
                        <li>
                            <a>By Physician</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Physician Time Sheet List</h5>
                        </div>
                        <div class="ibox-content">

                            <div class='row' style='margin-bottom:35px'>
                                <div class='col-md-12'>
                                    <a href="{% url 'timesheets_by_physician' last_month last_year%}" class='pull-left btn'>&lt Last Month</a>
                                    <a href="{% url 'timesheets_by_physician' next_month next_year%}" class='pull-right btn'>Next Month &gt</a>
                                </div>
                            </div>


                            {% regroup tlcategories by physician as phy %}

                            {% for p in phy %}
                                <h3>{{p.grouper}}</h3>
                                {% for cat in p.list%}

                                         <a class='label 
                                         {% for per in periods %}
                                             {% if per.timelog_category.physician == p.grouper and per.timelog_category.category == cat.category %}
                                                 {% if per.approved_at %} 
                                                    label-primary' href="{% url 'timesheets_user_one_period' per.id %}"
                                                 {% elif not per.active %}
                                                    label-danger' href="{% url 'timesheets_user_one_period' per.id %}"
                                                 {% else %}
                                                    label-warning' href="{% url 'timesheets_user_one_period' per.id %}"
                                                 {% endif %}
                                             {% endif %}
                                         {% endfor %} style='margin-right:5px'>
                                            {{cat.category}}
                                        </a>

                                {% endfor %}
                            {% endfor %}

                            <div style='margin-top:60px'>
                                <h2>Details</h2>
                                    <div class="table-responsive">

                                        <table class="table table-bordered table-hover table-conden dataTables">
                                            <thead>
                                                <tr>
                                                    <th>Physician</th>
                                                    <th>Category</th>
                                                    <th>Active</th>
                                                    <th>Approved At</th>
                                                    <th>Pending</th>
                                                    <th>Submitted</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in physician_categories %}
                                                <tr>
                                                    <td>{{i.timelog_category__physician__user__first_name}} {{i.timelog_category__physician__user__last_name}}</td>
                                                    <td>{{i.timelog_category__category__name}}</td>
                                                    <td>
                                                        {%if i.active%}
                                                        <span class='hidden-text'>True</span>
                                                        <span class='glyphicon glyphicon-ok-circle true-icon'></span>
                                                        {% else %}
                                                        <span class='hidden-text'>False</span>
                                                        <span class='glyphicon glyphicon-remove-circle false-icon'></span>
                                                        {% endif %}

                                                    </td> 
                                                    <td>{{i.approved_at}}</td>
                                                    <td>
                                                        {% if i.pending %}
                                                        <span class='hidden-text'>True</span>
                                                        <span class='glyphicon glyphicon-ok-circle true-icon'></span>
                                                        {% else %}
                                                        <span class='hidden-text'>False</span>
                                                        <span class='glyphicon glyphicon-remove-circle false-icon'></span>
                                                        {% endif %}

                                                    </td>
                                                    <td>
                                                        {% if i.submitted%}
                                                        <span class='hidden-text'>True</span>
                                                        <span class='glyphicon glyphicon-ok-circle true-icon'></span>
                                                        {% else %}
                                                        <span class='hidden-text'>False</span>
                                                        <span class='glyphicon glyphicon-remove-circle false-icon'></span>
                                                        {% endif %}

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>  
                            </div>
                        </div>
                    </div> 
                </div>

            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.1/icheck.min.js"></script>
    <script>

       $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        $(document).ready(function() {
            $('.dataTables').DataTable({
            });

        });


    </script>
    {% endblock %}
