{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <style type="text/css">

/*    table{
        table-layout: auto;
        width: auto;
    }*/

    .muted-row{
        background-color: #E6E6E6;
    }

    .form-control{
        background-color: #F7F7F7!important;
    }

    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>View Time Sheet</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a href="{% url 'timesheets_view' %}">Time Sheets</a>
                        </li>
                        <li>
                            <a>View</a>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>View Time Sheet</h5>
                        </div>
                        <div class="ibox-content">

                        {% if tsperiod %} 
                        <div class='alert alert-danger'> This time period has been submitted and can not be edited</div>
                        {% endif %}

                        {% if denial %}
                        <div class='alert alert-warning'>This time period was denied -- you are allowed to update now if you need to!</div>
                        {% endif %}


                            <div class='row'>
                                <div class='col-md-12'>
                                    <div>ID: {{timesheet.id}}</div>
                                    <div>Physician: {{timesheet.timelog_category.physician}}</div>
                                    <div>Category: {{timesheet.timelog_category.category}}</div>
                                    <div>Date: {{timesheet.date}}</div>
                                    <div>Start Time: {{timesheet.start_time}}</div>
                                    <div>End Time: {{timesheet.end_time}}</div>
                                    <div>Minutes Worked: {{timesheet.mins_worked}}</div>
                                    <div>Created At: {{timesheet.created_at}}</div>
                                    <div>Active: {{timesheet.active}}</div>                              
                                    <div>Note: {{timesheet.note}}</div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-4'>
                                  
                                </div>
                                <div class='col-md-4'>
                                  
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-6'>
                                   
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-8'>
                                    
                                </div>
                            </div>

                            <br>
                            <br>

                            {% if tsperiod %}
                                <button class='btn btn-primary' type='button' disabled="disabled">Edit Time Sheet</button>
                                <button class='btn btn-danger' type='button' disabled="disabled">Delete</button>
                            {% else %}
                                <button class='btn btn-primary' name='edittimesheet'>Edit Time Sheet</button>
                                <button class='btn btn-danger' name='deletetimesheet'>Delete</button>
                            {% endif %}

                        </div>
                    </div>
                </div>

            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script>

    $(function () {

        $('#id_start_time').datetimepicker({
            stepping: 5,
            sideBySide: true,
            format: 'YYYY-MM-DD HH:mm'
        });
        $('#id_end_time').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            stepping: 5,
            sideBySide: true,
            format: 'YYYY-MM-DD HH:mm'
        });
        $("#id_start_time").on("dp.change", function (e) {
            $('#id_end_time').data("DateTimePicker").minDate(e.date);
        });
        $("#id_end_time").on("dp.change", function (e) {
            $('#id_start_time').data("DateTimePicker").maxDate(e.date);
        });
    });

    $('#id_date').datepicker()

    </script>
    {% endblock %}
