{% extends 'base.html' %}


    {% block head %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <style type="text/css">

/*    table{
        table-layout: auto;
        width: auto;
    }*/

    .muted-row{
        background-color: #E6E6E6;
    }

    .form-control{
        background-color: #F7F7F7!important;
    }

    </style>

    {% endblock %}



    {% block content %}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2>Add Physician Category</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">Advocate Healthcare</a>
                        </li>
                        <li>
                            <a href="{% url 'timesheets_view' %}">Time Sheets</a>
                        </li>
                        <li>
                            <a>Add Category</a>
                        </li>
                    </ol> 
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Add Physician Category</h5>
                        </div>
                        <div class="ibox-content">

                        <form method='post'> {% csrf_token %}
                            {% if form.non_field_errors %}
                            <div class='alert alert-danger'>{{ form.non_field_errors }}</div>
                            {% endif %}
                            <div class='row'>
                                <div class='col-md-4'>
                                    {{form.physician.errors}}
                                    {{form.physician.label_tag}}
                                    <div class="input-group"> 
                                        <div class="input-group-btn"> 
                                            <button type="button" class="btn btn-default" aria-label="Bold">
                                                <i class='fa fa-user-md'></i>
                                            </button> 
                                        </div> 
                                        {{form.physician}}
                                    </div>  
                                </div>
                                <div class='col-md-4'>
                                    {{form.category.errors}}
                                    {{form.category.label_tag}}
                                    {{form.category}}
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-4'>
                                    {{form.workflow_default.errors}}
                                    {{form.workflow_default.label_tag}}
                                    <div class="input-group"> 
                                        <div class="input-group-btn"> 
                                            <button type="button" class="btn btn-default" aria-label="Bold">
                                                <i class='fa fa-code-fork'></i>
                                            </button> 
                                        </div> 
                                        {{form.workflow_default}}
                                    </div>  
                                </div>
                                <div class='col-md-4'>
                                    {{form.hours_needed.errors}}
                                    {{form.hours_needed.label_tag}}
                                    {{form.hours_needed}}
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-md-6'>
                                    {{form.approving_users.errors}}
                                    {{form.approving_users.label_tag}}
                                    {{form.approving_users}}
                                </div>
                            </div>


                            <br>
                            <br>
                            <button class='btn btn-primary' name='addcategory'>Add Physician Category</button>
                        </form>

                        </div>
                    </div>
                </div>

            </div>


        </div>


    {% endblock %}

    {% block scripts %}
    <!-- Page-Level Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script>

    $(function () {

        $('#id_start_time').datetimepicker({
            stepping: 5,
            sideBySide: true,
            format: 'YYYY-MM-DD HH:mm'
        });
        $('#id_end_time').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            stepping: 5,
            sideBySide: true,
            format: 'YYYY-MM-DD HH:mm'
        });
        $("#id_start_time").on("dp.change", function (e) {
            $('#id_end_time').data("DateTimePicker").minDate(e.date);
        });
        $("#id_end_time").on("dp.change", function (e) {
            $('#id_start_time').data("DateTimePicker").maxDate(e.date);
        });

    });

    $('#id_date').datepicker()

    </script>
    {% endblock %}
